<section class="dashboardProfile">
  <div class="pageTitle">Your Profile</div>

  <div class="profile-page-top">
    <div class="profile-photo customprotectclass">
      <img
        src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="profile_image"
      />
    </div>
    <div class="profile-contnet">
      <table>
        <tr>
          <th>Name</th>
          <th>:</th>
          <!-- <td>Rohit Gupta</td> -->
          <td id="name"></td>
          <tr>
          </tr>
          <th>Roll no.</th>
          <th>:</th>
          <td id="rollNo"></td>
          <!-- <td>2007360130047</td> -->
        </tr>
        <tr>
          <th>Branch</th>
          <th>:</th>
          <td id="branch"></td>
          <!-- <td>Information Technology</td> -->
        </tr>
        <tr>
          <th>Year</th>
          <th>:</th>
          <td id="year"></td>
          <!-- <td>3rd</td> -->
        </tr>
        <tr>
          <th>College</th>
          <th>:</th>
          <td>Rajkiya Engineering College Azamgarh</td>
        </tr>
      </table>
    </div>
  </div>
</section>
