<div class="submission-container">
    <div class="top-dashed-line">

    </div>
    <div class="content-part">
      <div class="top">
        <div class="title">
          Submission for Day 1
        </div>
        <div class="date">
          12-12-2022 19:22
        </div>
      </div>
      <div class="middle">
        <p class="submission-text" >https://www.topcoder.com/thrive/articlesusing-ejs-template-engine-with-express-js and some text with this and a link https://www.google.com </p>
      </div>
      <div class="bottom">
        <div class="left">
          <span class="material-icons"> task_alt </span>
          <span>Submitted</span>
        </div>

        <!-- <div class="right">
          <span class="material-icons" id="copy_button"> content_copy </span>
        </div> -->
      </div>

    </div>
  </div>