<div class="submission_input_container">

    
    <div class="inputbox">
        <input placeholder="Enter text" id="submissionInput" type="text">
    </div>
    <div class="sendButton">
        <span class="material-icons">send</span>
    </div>
   
</div>