<section class="dashboard">
    <div class="navigation">
        <div class="ingeniousLogo">
            <a href="index"> <span class="material-icons iconB"><span class="material-symbols-rounded">
                arrow_back
                </span></span></a>RTS
            <!-- <img src="" alt=""> -->
        </div>
        <ul class="dashboardNavigation">
            <li class="active" id="profile">  
                <a><span class="material-icons">person</span>
                    <span>Profile</span> </a>
            </li>
            <li id="submissions" >
                <a ><span class="material-icons">task_alt</span>
                    <span>Submissions</span> </a>
            </li>
            <li id="resources">
               <a> <span class="material-icons"><span class="material-symbols-rounded">
                download_for_offline
                </span></span>
            <span>Resources</span> </a>
            </li>
            <li class="backButton" >
               <a href="index"> <span class="material-icons iconB"><span class="material-symbols-rounded">
                arrow_back
                </span></span>
            <span>Back</span> </a>
            </li>
        </ul>

        <div class="askDoubt">
            <span class="material-icons">
                contact_support</span>
                Ask a doubt
        </div>
    </div>
    <div class="dashboardContent">
            <%- include("dashboard_profile.ejs");%>
    </div>
    
</section>