.navigation {
  padding-top: 30px;
  border-radius: 0px 10px 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: hsl(243deg, 23%, 18%);
  background-image: url("../images/texture.jpg");
  background-blend-mode: multiply;
  width: 250px;
  display: flex;
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  /* position: fixed; */
  /* left: 0; */
  z-index: 50;
}
.navigation .ingeniousLogo {
  margin-left: 1em;
  font-size: xx-large;
  font-weight: 900;
}
.navigation .dashboardNavigation {
  margin-top: 20vh;
}
.navigation .dashboardNavigation ul {
  margin: 2em;
  margin-top: 200px;
}
.navigation .dashboardNavigation li {
  cursor: pointer;
}
.navigation .dashboardNavigation li a {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
}
.navigation .dashboardNavigation li a .material-icons {
  margin-right: 0.4em;
}
.navigation .dashboardNavigation .active {
  background-color: white;
  margin: 0px -10px 0px 0px;
  padding-left: 1em;
  color: hsl(243deg, 23%, 18%);
  border-radius: 10px 0px 0px 10px;
}

.backButton .material-icons {
  border: 2px solid;
  border-radius: 100px;
  font-size: 20px;
}

.askDoubt {
  display: flex;
  align-items: center;
  margin: 20vh 0px 3em 2em;
  cursor: pointer;
}
.askDoubt span {
  margin: 0px 4px 0px 0px;
}

.dashboard {
  display: flex;
}

.dashboardProfileHeading {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.dashboardProfileHeading span {
  margin: 0px 5px -2px 0px;
  font-size: 30px;
}

.dashboard-content-container {
  background: #f2f2f2;
  /* width: calc(100% - 200px); */
  font-family: Montserrat, sans-serif;
}

#profile, #submissions, #resources {
  background: white;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.d-c-content {
  position: absolute;
  top: 0;
  height: auto;
  width: 0;
  opacity: 0;
  padding: 40px 30px 30px 300px;
  background-color: white;
  align-items: center;
}

.d-c-content h1 {
  color: hsl(243deg, 23%, 18%);
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}

/* Styles applied on trigger */
.d-c-content:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.d-c-content:target h1 {
  opacity: 1;
  /* animation: 2s fadeIn forwards .5s; */
  /* transition: all ease-in .5s; */
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.dashboardProfile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  align-items: flex-start;
}

.profile-page-top {
  display: flex;
  align-items: center;
  background: hsl(243deg, 23%, 18%);
  background-image: url("../images/texture.jpg");
  background-blend-mode: multiply;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 3px 0px 10px -4px;
  color: hsl(243deg, 23%, 18%);
  margin: 50px 0px 0px 0px;
}
.profile-page-top .profile-photo {
  width: 200px;
  height: 200px;
}
.profile-page-top .profile-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.profile-page-top .profile-contnet {
  display: flex;
}
.profile-page-top .profile-contnet table {
  border-spacing: 10px;
  margin: 1em;
}
.profile-page-top .profile-contnet table th {
  text-align: left;
  color: white;
}
.profile-page-top .profile-contnet table td {
  color: white;
}

.pageTitle {
  font-size: 30px;
  font-weight: 600;
}

.submissionPage {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.submissionPage .pageTitle {
  font-size: 30px;
  font-weight: 600;
}

.submission-list {
  margin-top: 10vh;
  width: 100%;
  height: auto;
}

.submission_input_container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  width: 90%;
  box-shadow: 0px 0px 10px -6px;
  color: grey;
}
.submission_input_container .inputbox {
  margin: 2em;
}
.submission_input_container .inputbox input {
  width: 60vw;
  height: 50px;
  border-radius: 10px;
  padding: 1em;
}
.submission_input_container .inputbox input:focus {
  outline: 0;
  border: none;
}
.submission_input_container .sendButton {
  display: flex;
  align-items: center;
  margin: 1em;
  margin-right: 10vw;
  justify-content: center;
  background-color: lightgrey;
  padding: 1em;
  padding-left: 1.25em;
  border-radius: 50%;
  cursor: pointer;
}

.submission-container .top-dashed-line {
  border-right: 3px dashed grey;
  height: 50px;
  width: 1px;
  margin-left: 1em;
}
.submission-container .content-part {
  background-color: white;
  box-shadow: 0px 0px 10px -6px;
  padding: 1em;
  border-radius: 10px;
  width: 90%;
  color: grey;
}
.submission-container .content-part .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0.7em 0px;
  color: black;
}
.submission-container .content-part .top .title {
  font-size: 15px;
  font-weight: 700;
}
.submission-container .content-part .top .date {
  font-style: italic;
  color: grey;
  font-size: 10px;
}
.submission-container .content-part .middle {
  text-align: left;
  margin: 1em 0px;
  font-size: 15px;
  color: black;
}
.submission-container .content-part .middle a {
  color: rgb(108, 187, 213);
  display: inline;
  text-decoration: underline;
  font-style: italic;
}
.submission-container .content-part .bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.submission-container .content-part .bottom .left {
  display: flex;
  align-items: center;
}
.submission-container .content-part .bottom .left .material-icons {
  margin-right: 5px;
  color: lightgreen;
}
.submission-container .content-part .bottom .right {
  color: grey;
  cursor: pointer;
}
.submission-container .content-part .bottom .right :hover {
  color: rgb(105, 105, 105);
}/*# sourceMappingURL=dashboard.css.map */