
:root {
  --cadet-blue-crayola: hsl(240, 10%, 70%);
  --gold-web-golden: hsl(50, 100%, 54%);
  --vivid-sky-blue: hsl(196, 84%, 63%);
  --midnight-blue: hsl(231, 83%, 25%);
  --minion-yellow: hsl(50, 100%, 64%);
  --independence: hsl(225, 24%, 27%);
  --orange-soda: hsl(7, 96%, 61%);
  --space-cadet: hsl(243, 23%, 18%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(230, 80%, 39%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --rufous: hsl(2, 85%, 35%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}


.container-login {
    /*border:1px solid white;*/
    width: 650px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
  }
  .backbox {
    border-radius: 15px;
    background-color: #404040;
    width: 100%;
    height: 80%;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    display: inline-flex;
  }
  
  .frontbox {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right 0.8s ease-in-out;
  }
  
  .moving {
    right: 45%;
  }
  
  .loginMsg,
  .signupMsg {
    width: 50%;
    height: 60%;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .loginMsg .title,
  .signupMsg .title {
    font-weight: 300;
    font-size: 23px;
  }
  
  .loginMsg p,
  .signupMsg p {
    font-weight: 100;
  }
  
  .textcontent {
    color: white;
    margin-top: 65px;
    margin-left: 12%;
  }
  
  .loginMsg button,
  .signupMsg button {
    background-color: #404040;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* front box content*/
  .login,
  .signup {
    padding: 20px;
    text-align: center;
  }
  .login img{
    margin: 10px auto;
  }
  .error-cont{
    margin: 0 auto;
    width: 300px;
    /* padding: 10px; */
    border-radius: 10px;
    font-size: 13px;
    background-color: var(--white);
    transition: right 0.8s ease-in-out;
  }
  .error-cont h3{
    margin: 10px auto;

    color: red;
  }
  .error-f{
    /* padding-left: 20%; */
    padding: 10px auto;
    color: red;
  }
  
  .login h2,
  .signup h2 {
    color: var(--black);
    font-size: 22px;
  }
  
  .inputbox {
    margin-top: 30px;
  }
  .login input,
  .signup input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  .login button,
  .signup button {
    background-color: var(--black);
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
  }
  
  /* Fade In & Out*/
  .login p {
    cursor: pointer;
    color: #404040;
    font-size: 15px;
  }
  
  /*.loginMsg, .signupMsg{
    /*opacity: 1;
    transition: opacity .8s ease-in-out;
  }
  */
  .visibility {
    opacity: 0;
  }
  
  .hide {
    display: none;
  }
  