:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}




.our-team {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.our-team p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px #000;
    padding: 30px;
    margin: 20px;
    min-width: 250px;
}

img {
    float: right;
}
.cont-2-inner{
    display: none;;
}



@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 900px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
    .row1-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row2-container {
        display: none;
    }
    .cont-2-inner{
        display: block;
    }
}
@media (max-width: 700px) {
    .row1-container {
        display: flex;
        flex-direction: column;
    }
    .box {
        border-radius: 5px;
        box-shadow: 0px 30px 40px -20px #000;
        padding: 30px;
        margin: 20px auto;
        max-width: 450px;
    }
    
    /* .row2-container {
        display: none;
    }
    .cont-2-inner{
        display: block;
    } */
}

.cyan-team {
    border-top: 3px solid var(--cyan);
}
.red-team {
    border-top: 3px solid var(--red);
}
.blue-team {
    border-top: 3px solid var(--blue);
}
.orange-team {
    border-top: 3px solid var(--orange);
}

.temp-container h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 900px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .our-team p {
        width: 30%;
    }
    
}